Gemfile.lock
spec/database.log
# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc
.rvmrc
# bundler
.bundle

# jeweler generated
pkg


*.swp
tmp

spec/test_app/log/*.log
spec/test_app/db/*.db